.contact-container{
    height: 100vh;
    background-color: rgb(33, 39, 48) !important;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
}
.email{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 13px;
}
